body {
  width: 100vw;
  margin: 0;
  cursor: crosshair;
  max-width: 100%;
  overflow-x: hidden;
}




/* .intro-solid {
  background: #C0C0C0;
  margin: 0px;
  height: 700px;
  position: absolute;
} */

.intro-text {
  text-align: center;
  background: #C0C0C0;
}

h1 {

  font-family: 'Red Hat Text', sans-serif;
  font-size: 34vw;
  text-align: center;
  color: white;
  letter-spacing: -0.07em;
  z-index: 3;
  left: -5vw;
  position: relative;
  top: 7vh;
}

p {
  font-family: 'Noto Serif KR', serif;
  font-size: 2vw;
}

.intro-text p {

  position: relative;
  top: 8vh;
  font-family: 'Noto Serif KR', serif;
  font-size: 2vw;
  /* padding-top: 40%; */
  z-index: 6;
  padding-bottom: 15vh;
}

.intro-gradient {
  height: 10vw;
  background-image: linear-gradient(#C0C0C0, white);
  width: 100vw;
  /* margin-top: 20vh; */
}


.projects {
  margin-left: 5vw;
  margin-right: 5vw;
}




.projects img {
  width: 40vw;
  height: 100%;
}

.single-proj {
  display: flex;
  margin-bottom: 3vh;
}

.project-txt {
  width: 20vw;
  margin: auto;
}

.proj-title {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 2vw;
}

.proj-desc {
  font-family: 'Noto Serif KR', serif;
  font-size: 2vw;
}


.footer-gradient {
  height: 10vw;
  background-image: linear-gradient(white, #C0C0C0);
  width: 100vw;
}


.footer-solid {
  background: #C0C0C0;
  margin: 0px;
  width: 100vw;
  min-height: 30vh;
  text-align: left;
}

.footer-solid h2 {
  margin: 0px;
  font-family: 'Red Hat Text', sans-serif;
  padding: 20px;

  font-size: 2.2vw;
}

.footer-solid p {
  margin: 0px;
  padding-left: 20px;
}

ul {
  padding-top: 20vh;
  padding-bottom: 10vh;
  display: flex;
}

li {
  margin: auto;
  color: red;

}

li a {
  color: black;
  font-family: 'Noto Serif KR', serif;
  font-size: 2vw;
}
